<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank You - DonorDrive</title>
    <!-- <link rel="stylesheet" href="/styles.css">   -->
    <link rel="stylesheet" href="/styles_5.css">

</head>
<body>

<div class="container">
    <h1>Thanks for Donation!</h1>
    <a href="/scratch" class="btn">Scratch for coupon</a>
</div>

</body>
</html>
